*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0F0E0E;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 10px;
}

.heading{
    color: #FFFFFF;
    font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
    align-items: center;
    margin-top: 3px;
    font-size: xx-large;
}

.container{
    height: 100vh;
    display: flex;
    width: 95%;
    border-radius: 3x;
    gap: 70px;
}

.box{
    background-color: #FBF5F3;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
}

.boxheading{
    font-family: "Noto Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-variation-settings:
            "wdth" 100;
        font-size: x-large;
}

.textbox{
    width: 95%;
    border: 2px solid black;
    font-size: x-large;
}

#inputtext{
    background-color: #00171F;
    color: #FFFFFF;
}
#outputtext{
    background-color: #003459;
    color: #F2E3BC;
}